/**
 * Styles for theme in the USAJobs module.
 */

.usajobs-item {
  margin-bottom: 0.9em;
}
.usajobs-item .usajobs-item-title {
  font-size: 1em;
  line-height: 1.4;
}

.usajobs-item .usajobs-item-organization,
.usajobs-item .usajobs-item-location-salary,
.usajobs-item .usajobs-item-end-date {
  font-size: 0.9em;
}
